 :root {
  --dark-green:#133c20;
  --ivory:rgb(225, 225, 185);
  --line-height-size:1.3;
  --red:rgb(219, 6, 6);
 }
  .topnav {
    overflow: hidden;
    display:flex;
    flex-wrap:wrap;
  }
  
  .topnav a {
    float: right;
    color: var(--ivory);
    text-align: center;
    padding: 12px 14px;
    text-decoration: underline;
    font-size: 17px;
    display:flex;
    flex-wrap:wrap;
  }
  
  .topnav a:hover {
    color: var(--ivory);
    display:flex;
    flex-wrap:wrap;
  }
  
  .topnav a:active {
    background-color: #e4e285;
    color: var(--red);
    display:flex;
    flex-wrap:wrap;
  }

  .header {
    text-align: center;
    padding: 20px;
  }
  
  .me-image {
  background-position: center;
  display:flex;
  flex-wrap:wrap;
  font-size:16px;
  color:var(--ivory);
  }

  body {
    background: linear-gradient(var(--dark-green), var(--ivory));
  }

  .card {
    color:var(--ivory);
    flex: 2 1 50px;
    text-align: center;
    border-style:double;
    border-width: 2.5px; 
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    border-radius:10px;
  }

  .card header * {
    flex: 1 0 100px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
  }

  .card:hover {
    color: var(--ivory);
    display:flex;
    flex-wrap:wrap;
  }

.zoom {
  padding: 50px;
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.3); 
}
  .contact {
    color:var(--dark-green);
    display:flex;
    flex-wrap:wrap;
    position:relative;
  }

  .contact header {
    text-decoration:underline;
  }
  
  .about {
    color:var(--dark-green);
    display:flex;
    flex-wrap:wrap;
  }

  .about header {
    text-decoration: underline;
  }

  footer {
    text-align:center;
    display:flex;
    flex-wrap:wrap;
  }

  @media screen and (max-width: 992px) {
    .card .contact .about {
        background-color:linear-gradient(var(--dark-green), var(--ivory));
        display:flex;
        flex-wrap:wrap;
    }

@media screen and (max-width: 768px) {
    .card .contact .about }
        background-color:linear-gradient(var(--dark-green), var(--ivory));
        display:flex;
        flex-wrap:wrap;
      {
    }
    

@media screen and (max-width: 567px) {
    /* .card .contact .about { */ } {
        background-color:linear-gradient(var(--dark-green), var(--ivory));
        display:flex;
        flex-wrap:wrap;
      }
    }
